<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap.js"></script>
	<script type="text/javascript" src="javascripts/angular.min.js"></script>
	<script type="text/javascript" src="javascripts/app.js"></script>
</head>
<body ng-controller="myCtrl">
	<div class="container">
		<br />
		<br />
		<br />
		<button ng-click="get_all()" class="btn btn-danger">Click</button>
		<hr />
		<table>
			<tr>
				<th>S.No.</th>
				<th>Title</th>
				<th>Price</th>
			</tr>

		</table>

	</div>
</body>
</html>